body {
  color: #303846;
  font-family: Roboto,'Open Sans', sans-serif;
  font-size: 16px;
  margin: 100px 0 0 0;
  padding: 0;
  position: relative;
}



main, footer {
  line-height: 1.5;
  width: 100%;
}

section, footer {
  padding: 50px 0;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em; 
}

h3 {
  font-size: 1.3em;
}

a {
  text-decoration: none;
}


.a-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.fw-bold {
  font-weight: bold;
}
.p-20 {
  padding: 20px;
}


/* HEADER */


header {
    justify-content: space-between;
    position: fixed;
    background: #FFF;
    left: 0;
    right: 0;
    top: 0;
}

.nav-wrap {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
  height: 50px;
  width: 50px;
  padding: 5px;
} 

/* MAIN */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-1000 {
  width: 1000px;
}

/* INTRO */

.intro-banner {
  background: url("../images/banner.png") repeat-y 100%;
  background-position: right 95% bottom 25%;
  color: #FFF;
}


.logo-large {
  width: 175px;
  height: 175px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
  margin-top: 20px;
  font-size: 16px;
}


/* FEATURES */

.bg-white {
  background: #FFF;
}

.sp-btw {
  justify-content: space-between;
}

.w-300 {
  width: 300px;
}


/* ABOUT */

.bg-smoke {
  background: #f7f7f7;
}

.w-530 {
  width: 530px;
}

.w-400 {
  width: 400px;
}

.h-auto {
  height: auto;
}


/* Form  */

legend {
  font-size: 1.5em;
  font-weight: bold;
}

.form-wrap {
  box-sizing: border-box;
  color: #5fd9b9;
  margin-top: 1em;
  padding: 25px;
}

input[type=text], select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  margin: 6px 0;
}

.c-black {
  color: #000;
}

.pb-80 {
  padding-bottom: 80px;
}

.fd-col {
  flex-direction: column;
}

.mg-1 {
  margin: 1em 0;
}

.mg2 {
  margin: 2em
}

.align-c {
  align-items: center;
}

.pr-75 {
  padding-right: 75px;
}


select {
  width: 40%;
}

input[type=text] {
  width: 60%;
}

.form-btn {
  color: #5fd9b9;
  background-color: transparent;
  border-color: #5fd9b9;
  padding: 12px 30px;
  align-self: flex-start;
}

/* FOOTER */

footer {
  background: #303846;
}

.footer-item {
  color: #fff;
  align-items: baseline;
  box-sizing: border-box;
}

footer a {
  color: inherit;
}