/* general markup */


body {
    margin: 0;
    padding: 0;
    font-family: Roboto,'Open Sans', sans-serif;
    font-size: 16px;
    color: #303846;
  }
  
h1, h2, h3 {
  margin: 0;
}

.p-20 {
    padding: 20px;
    }

.d-flex {
    display: flex;
    }

.h-100 {
    height: vh100;
  }

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }


/* navbar */


.navbar {
    background: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    font-weight: bold;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
}

.nav-wrap {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding: 20px;
    color: #FFF;
    cursor: pointer;
  }

.nav-item a {
    text-decoration: none;
    color: #000;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-and-name {
    align-items: center;
  }
  
/* Intro */

.intro {
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 80px;
  background: url("../images/banner.png") repeat-y 100%;
  color: #FFF;
}

.intro-logo {
  width: 175px;
  height: 175px;
  margin-bottom: 30px;
}

.intro .title {
  font-size: 3em;
}

.intro .subtitle {
  font-size: 1.2em;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  color: #FFF;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  text-decoration: none;
  padding: 15px;
  margin-top: 20px;
  font-size: 16px;
}



  



