/* General  */


body {
    color: #303846;
    font-family: Roboto,'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

h1, h2, h3 {
    margin: 0;
}

h2 {
  font-size: 2em; 
}

h3 {
  font-size: 1.3em;
  padding-top: 10px;
}

.p-50 {
  padding: 50px 0;
}


/* Navbar */


.navbar {
    align-items: center;
    background: white;
    display: flex;
    font-weight: bold;
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.nav-wrap {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: #FFF;
    cursor: pointer;
    padding: 20px;
  }

.nav-item a {
    color: #000;
    text-decoration: none;
}

.logo {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.logo-and-name {
  align-items: center;
  display: flex;
  }
  
.project-name {   
  display: flex;
  align-self: start;
  padding: 18px 20px;
  font-weight: bold;
}

/* Intro */

.intro {
  align-items: center;
  background: url("../images/banner.png") repeat-y 100%;
  background-position: right 95% bottom 25%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
}

.logo-large {
  width: 175px;
  height: 175px;
  margin-bottom: 30px;
}

.title {
  font-size: 3em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
  margin-top: 20px;
  font-size: 16px;
}


/* Main content */

main section, footer {
  width: 100%;
  line-height: 1.5;
}

.features {
  display: flex;
  justify-content: center;
  width: 100%;
}

.features-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.features-item {
  width: 300px;
}


/* Places & About */


.places {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  width: 100%;
}

.places-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.places-description {
  width: 530px;
}

.places-image {
  width: 400px;
  height: auto;
}

.w-background {
  background: #fff;
}

/* Form  */

.form {
  align-items: center;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  width: 100%;
}

.form-title {
  margin: 1em 0;
}

.form-container {
  box-sizing: border-box;
  color: #5fd9b9;
  display: flex;
  height: auto;
  margin-top: 1em;
  padding: 25px;
  width: 500px;
}

.p-right {
  padding-right: 75px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;

}

.bold {
  font-weight: bold;
  color: #000;
}


input[type=text], select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  margin: 6px 0;
}

select {
  width: 40%;
}

input[type=text] {
  width: 60%;
}

.form-btn {
  color: #5fd9b9;
  background-color: transparent;
  border-color: #5fd9b9;
  padding: 12px 30px;
}


/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303846;
  width: 100%;
  color: fff;
}


.footer-inner {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  align-items: baseline;
  box-sizing: border-box;
}

.footer-list a {
  color: #fff;
  text-decoration: none;
}

.copyright {
  margin: 2em 0;
}